[Unit]
Description=Realtime IRQ thread system tuning
After=multi-user.target sound.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/rtirq start
ExecStop=/etc/init.d/rtirq stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target