[Unit]
Description=Realtime IRQ thread system tuning
After=multi-user.target sound.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rtirq start
ExecStop=/usr/sbin/rtirq stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
